@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
  font-family: "Montserrat", sans-serif;
  font-family: "Fraunces", serif;
*/

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

  background-color: hsl(30, 38%, 92%);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

main {
  background-color: red;

  width: 650px;
  height: 400px;

  display: flex;

  border-radius: 14px;

  overflow: hidden;
}

.photo {
  background-color: blue;

  width: 350px;

  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  background-color: green;
  width: 300px;
}