@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 
  COMENTARIO

  font-family: "Raleway", sans-serif;
  font-family: "Open Sans", sans-serif;
*/

/* VARIABLES o CONSTANTES o CUSTOM PROPERTIES */

:root { /* pseudo-class */
  --fondo: orange; /* background-color: var(--fondo); */
}

body {
  font-family: "Open Sans", sans-serif;

  background-color: var(--fondo);
}

.hidden {
  display: none;
}

.header {
  border: 2px solid red;


}