@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 
  COMENTARIO

  font-family: "Raleway", sans-serif;
  font-family: "Open Sans", sans-serif;
*/

/*
  576px -> pantallas pequeñas (celulares)
  768px -> pantallas pequeñas (tablets y celulares)
  992px -> pantallas medianas (Desktop)
  1200px -> pantallas grandes (Desktops, TVs)
*/

/* VARIABLES o CONSTANTES o CUSTOM PROPERTIES */

:root { /* pseudo-class */
  --fondo: orange; /* background-color: var(--fondo); */

  /* FONTS */
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --font-size: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* COLORS */
  --primary-navy-850: hsl(217, 28%, 15%);
  --primary-navy-900: hsl(218, 28%, 13%);
  --primary-navy-950: hsl(216, 53%, 9%);
  --primary-navy-800: hsl(219, 30%, 18%);

  --accent-teal-200: hsl(176, 68%, 64%);
  --accent-cyan-500: hsl(198, 60%, 50%);
  --accent-red-500: hsl(0, 100%, 63%);

  --neutral-white: hsl(0, 0%, 100%);
}

/* GENERAL */

html {
  font-size: var(--font-size); /* 14px */
}

body {
  font-family: var(--font-secondary);

  background-color: var(--primary-navy-850);

  color: var(--neutral-white);
}

a {
  color: inherit;

  text-decoration: none;
}

img {
  max-width: 100%;

  height: auto;
}

/* UTILS */

.hidden {
  display: none;
}

.wrapper {
  /* width: 1440px; */
  width: min(100% - 2rem, 1440px);

  margin: 0 auto;
}

.wrapper-720 {
  width: min(100% - 2rem, 700px);
}

/* HEADER SECTION */

.header {
  /* border: 1px solid red; */

  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 4rem;

  /* 4rem = 4 * 14px = 56px */
  /* 1rem = tamaño de la letra principal (14px) */
  /* 1em  = tamaño de la letra de su contenedor más próximo (14px) */
}

.header__nav {
  /* border: 1px solid yellow; */

  display: flex;
  gap: 2rem; /* 2 * 14px = 28px */
}

/* HERO SECTION */

/* TODO: Usen los estilos apropiados para las clases .hero */

.hero {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  text-align: center;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hero__image {}

.hero__title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 2.5rem; /* 2.5 x 14px = 35px */
  line-height: 1;
}

.hero__content {
  line-height: 1.5;

  padding: 0 7rem;
}

.hero__button {
  font-weight: var(--font-weight-bold);

  border: none;

  padding: 1rem 1.5rem;
  border-radius: 2rem; /* 2 x 14px = 28px */

  min-width: 200px;
  color: var(--neutral-white);
  background: linear-gradient(
    90deg,
    var(--accent-teal-200) 0%,
    var(--accent-cyan-500) 100%
  );

  cursor: pointer;

  transition: background ease .3s;
}

.hero__button:hover {
  background: var(--accent-cyan-500);
}