@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/*
### Primary

- Green 200 (lighter): hsl(148, 38%, 91%)
- Green 600 (medium): hsl(169, 82%, 27%)
- Red: hsl(0, 66%, 54%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey 500 (medium): hsl(186, 15%, 59%)
- Grey 900 (darker): hsl(187, 24%, 22%)
*/

body {
  margin: 0; /* Reseteamos el margen por defecto */

  font-family: "Karla", sans-serif;
  font-size: 16px;

  background-color: hsl(148, 38%, 91%);

  display: flex; /* Flexbox */
  justify-content: center; /* Horizontal */
  align-items: center; /* Vertical */

  height: 100dvh; /* Dynamic Viewport Height */
}

/* span {
  color: red;
} */

.required {
  color: green;
}

.contact-form {
  background-color: white;

  width: 400px;
}